/*-------------------
    RESET
-------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "PT Sans", sans-serif;
}

img {
    max-width: 100%;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*-------------------
    GENERAL
-------------------*/
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small {
    max-width: 900px;
    margin: 0 auto;
}

.btn {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    color: #000000;
    padding: 5px 10px;

}

.col {
    padding: 0px 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

}


/*-------------------
    SECTION-HEADER
-------------------*/
header {
    background: #0084fd;
}

.section-header {
    display: flex;
    justify-content: space-between;
}

.section-header {
    padding: 8px 0px;
}

.menu {
    color: #fff;
    display: none;
}


.right,
.right ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.right a {
    color: #fff;
}

/*-------------------
    SECTION-INFO TYP
-------------------*/
.section-intro h3 {
    color: #0084fd
}

/*-------------------
    SECTION-INTRO
-------------------*/

.section-intro .row {
    margin-top: 40px;
}

.section-intro .col {
    width: calc(100%/3);
}

.section-intro .col-large {
    flex-grow: 1;

}

.col-large .card {
    padding-bottom: 0px;
}

.col-large img {
    display: block;
}

.card {
    background-color: #b5ddff;
    border-radius: 20px;
    gap: 50px;
    display: flex;
    padding: 20px;
}

.content-card p {
    margin-top: 20px;
    line-height: 2;
    color: #5a6e7f;
}

.content-card .btn {
    background: #0084fd;
    color: #fff;
    border-radius: 25px;
    padding: 8px 30px;
    margin-top: 20px;
    margin-bottom: 10px;

}

.btn i {
    margin-right: 10px;
}

.screen {
    width: 50%;
}


.content-card {
    width: 50%;
}

.card-column {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-size: 15px;
    text-align: center;
    line-height: 2;
    height: 100%;
}

.card-column i {
    font-size: 50px;
    color: #0084fd;
}

/*-------------------
    SECTION-STRATEGIC
-------------------*/
.section-strategic {
    background: #9792e4;
    margin-top: 50px;
    padding: 40px 10px;
}

.section-strategic .col {
    width: 50%;
}

.col-woman img {
    padding-bottom: 50px;
}

.col-woman h3 {
    padding-bottom: 50px;
}



.section-strategic p {
    color: #fff;
}

.section-strategic .row {
    display: flex;
    align-items: flex-end;
}

.special-card {
    background: #fff;
    border-radius: 40px;
    padding: 40px;
    text-align: center;
    width: 100%;

}

.special-card p {
    font-style: oblique;
    font-size: 15px;
    color: #222;
}

.special-card button {
    border-radius: 50%;
    border: none;
    background: #9792e4;
    padding: 15px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.section-strategic h3 {
    color: #fff;
}

.section-strategic p {
    line-height: 1.5;
}

.special-card img {
    max-width: 70%;
}















/*-------------------
    SECTION-TESTIMONIALS
-------------------*/

.title {
    text-align: center;
    margin-top: 50px;
    line-height: 2;
}

.title h2 {
    font-size: 20px;
}

.title h1 {
    font-size: 40px;
    color: #9792e4;
}

.title p {
    text-align: center;
    margin: 30px 0;
    line-height: 1.5;


}

.card-violet {
    margin-top: 20px;
    background: #9792e4;
    display: flex;
    border-radius: 30px;
    padding: 20px;
}


.img-testimon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(./img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
}

.testimonial-text {
    align-self: center;
    padding: 0 20px;
    color: #fff;

}

.testimonial-text h4 {
    padding-top: 20px;
}

.testimonial-text strong {
    font-size: 25px;
}



















/*-------------------
    SECTION-RESPONSIVE
-------------------*/

@media screen and (max-width: 992px) {

    .right ul,
    .right button {
        display: none;
    }

    .menu {
        display: block;
    }

    .card {
        flex-direction: column;
    }

    .card .content-card,
    .card .screen {
        width: 100%;
    }

    .screen img {
        height: 300px;
    }

    .section-strategic .row {
        flex-direction: column;
    }

    .section-strategic .col {
        width: 100%;
    }

    .section-strategic .special-card {
        width: 100%;
    }

    .section-strategic img {
        width: 80%;
    }

    .respo {
        margin-left: 20px;
    }

    .section-strategic h3 {
        font-size: 80px;
    }

    .section-strategic .col {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {


    .right ul,
    .right button {
        display: none;
    }


    .menu {
        display: block;
    }

    .section-intro .row {
        flex-wrap: wrap;
        margin-top: 30px;
    }

    .section-intro .col {
        width: 100%;
        margin-bottom: 30px;

    }

    .content-card .btn {
        width: 50%;

    }


    .card-violet {
        flex-direction: column;
        padding: 10px;
    }

    .testimonial {
        margin: 0 auto;
    }

    .testimonial-text {
        line-height: 1.5;
    }

    .testimonial-text h4 {
        text-align: center;
    }
}